:root {
		--color-primary: #d63031;
		--color-primary-light: #dc4c4d;
		--color-primary-light-1: #e16969;
		--color-primary-dark-1: #be2627  ;
		--color-primary-dark: #a22021;
		--color-grey-light-1: #faf9f9;
		--color-grey-light-2: #f4f2f2;
		--color-grey-light-3: #f0eeee;
		--color-grey-light-4: #ccc;
		--color-grey-dark-1: #333;
		--color-grey-dark-2: #777;
		--color-grey-dark-3: #999;
		--line: 1px solid var(--color-grey-light-4);
		--font-global: 'PT Sans', sans-serif;
		--font-title: 'Rock Salt', cursive;
}

* {
		margin: 0;
		padding: 0;
}

html {
		box-sizing: border-box;
		font-size: 62.5%;
		font-family: 'PT Sans', sans-serif;
}

*,
*::after,
*::before {
		box-sizing: inherit;
		font-family: inherit;
}

body {
		font-family: 'PT Sans', sans-serif;
		font-weight: 400;
		line-height: 1.6;
}

.primary-button {
		margin: 0;
		border: none;
		outline: none;
		background-color: var(--color-primary-dark-1);
		color: var(--color-grey-light-1);
		font-size: 1.8rem;
		font-weight: 200;
		padding: 1rem;
		border-radius: 300px;
		font-style: inherit;
		cursor: pointer;
		transition: all 0.3s;
}

.primary-button:hover {
		background-color: var(--color-primary-light);
		transform: translateY(-0.1rem);
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6);
}

.primary-button:active {
		transform: translateY(0.1rem);
		box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.6);
}

.header {
		display: flex;
		flex: 0 1 100%;
		align-items: center;
		padding: 0 10rem;
		height: 8rem;
		background-color: var(--color-grey-light-3);
		border-bottom: var(--line);
}

.header__logo {
		font-style: 'Rock Salt', cursive;
		font-size: 3rem;
		font-weight: 800;
		color: var(--color-primary-dark);
		padding: 1rem;
		padding-left: 0rem;
}

.nav-options {
		display: flex;
		align-items: center;
		align-self: stretch;
		flex: 1;
		list-style: none;
}

.nav-options > * {
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		padding: 0 2rem;
}

.nav-options__item {
		align-self: stretch;
		border-bottom: 3px solid transparent;
		transition: all .5s;
		/*&:not(:last-child){
      margin-right: 2rem;
    }

    &:last-child{
      margin-right: auto;
    }*/
}

.nav-options__item:hover {
		border-bottom: 3px solid var(--color-primary-dark);
}

.nav-options__icon {
		height: 2.5rem;
		width: 2.5rem;
		fill: var(--color-primary-dark);
		padding-right: .3rem;
}

.nav-options__name {
		font-size: 1.6rem;
		text-decoration: none;
		color: var(--color-primary-light);
}

.search {
		flex: 0 0 20%;
		display: flex;
		align-items: center;
		justify-content: center;
}

.search__input {
		font-family: inherit;
		font-size: 1.25rem;
		background-color: var(--color-grey-light-2);
		border: none;
		padding: .7rem .2rem;
		border-radius: 300px;
		width: 90%;
		transition: all .3s;
		margin-right: -4.15rem;
}

.search__input:focus {
		outline: none;
		width: 100%;
		background-color: var(--color-grey-light-1);
}

.search__input::-webkit-input-placeholder {
		font-weight: 100;
		color: var(--color-grey-light-4);
}

.search__input:focus + .search__button {
		background-color: var(--color-grey-light-1);
}

.search__button {
		border: none;
		background-color: var(--color-grey-light-2);
}

.search__button:focus {
		outline: none;
}

.search__button:active {
		transform: translateY(2px);
}

.search__icon {
		height: 2rem;
		width: 3.5rem;
		fill: var(--color-grey-dark-3);
}

/*
.search{
  display: flex;
  flex: 0 1 25%;
  justify-content: center;
  align-items: center;
  position: relative;

  &__input{
    outline: none;
    width: 90%;
    height: 3.5rem;
    border-radius: 300px;
    transition: all .2s;

    &:focus{
      outline: none;
      width: 100%;
    }
    &::-webkit-input-placeholder{
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  &__button{
    position: absolute;
    top: 0;
    right: -3.5rem;
    height: 3.5rem;
    width: 3.5rem;
  }
}
*/
.main-content {
		display: flex;
		background-color: var(--color-grey-light-1);
}

.sidebar {
		flex: 0 0 200px;
}

.center {
		flex: 1;
}

.leftbar {
		flex: 0 0 200px;
}

.sidebar-list {
		list-style: none;
}

.sidebar-list__item {
		cursor: pointer;
		transition: all .2s;
}

.sidebar-list__item:hover {
		background-color: var(--color-primary-light-1);
		border-radius: 0px 300px 300px 0px;
}

.sidebar-list__link:link, .sidebar-list__link:visited {
		display: block;
		width: 98%;
		padding: 1.5rem 3rem;
		text-decoration: none;
		font-size: 1.6rem;
		font-weight: 800;
		color: var(--color-grey-dark-1);
}

.sidebar-list__link:link:hover, .sidebar-list__link:visited:hover {
		color: #fff;
}
